openapi: 3.0.0
info:
  title: Swagger Studio Clock - OpenAPI 3.0.0
  description: Swagger for the Studio Clock application for MIEM.
  version: 1.1.0
servers:
  - url: https://clock.miem.tv
paths:
  /reconnect/{mixer}:
    post:
      summary: Connect Clocks to new mixer
      description: Connect Clocks to new mixer
      parameters:
          - name: mixer
            in: path
            description: Mixer to reconnect
            required: true
            schema:
              enum: [
                "obs",
                "vmix"
              ]
      requestBody:
        description: Specify mixer credentials
        content:
          application/json:
            schema:
              required:
                - ip
                - port
              type: object 
              properties:
                ip:
                  type: string
                  example: 127.0.0.1
                port:
                  type: number
                  example: 4455
                password:
                  type: string
                  example: 1234
        required: true
      responses:
        "200":
          description: Successful connection
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: "ok"
        "422":
          description: Unsuccessful connection
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: "error"
                  description:
                    type: string
                    example: "Не удалось подключиться к obs. Удостоверьтесь в правильности данных."
        "404":
          description: Mixer not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: "error"
                  description:
                    type: string
                    example: "Такого микшера нет, вот список доступных: obs, vmix"
  /message:
    post:
      summary: Send message to director hint block
      description: Send message to director hint block
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                message:
                  type: string
                  example: "Встаньте левее"
      responses:
        "200":
          description: Your message was delivered
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: "ok"
        "422":
          description: The message is too long
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: "error"
                  description:
                    type: string
                    example: "Сообщение слишком длинное (больше 26 символов)."
        "415":
          description: The message cannot be converted to text
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: "error"
                  description:
                    type: string
                    example: "Сообщение нельзя преобразовать к тексту."
  /block/{operation}:
    post:
      summary: Start the block timer
      description: Start the block timer
      parameters:
        - name: operation
          in: path
          description: Operation for the block timer
          required: true
          schema:
            enum: [
              "start",
              "pause",
              "stop"
              ]
      responses:
        "200":
          description: Operation applied
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: "ok"
        "404":
          description: Invalid operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: "error"
                  description:
                    type: string
                    example: "Такого события нет, вот список доступных: start, pause, stop"
